body {
    margin: 0 auto;
    border: 1 solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}

.feed_header {
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 100%;
    top: 0;
    background: linear-gradient(180deg, #232837 0%, #3B4B5F 100%);
    color: white;
}

.feed_user_icon {
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    width: 2rem;
}

.feed_main {
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.feed_type {
    margin: 0 auto;
    text-align: center;
    display: inline-flex;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 0.2em;
    padding: 0.2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
}

.feed_search_box {
    margin: 0 auto;
    display: flex;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.feed_search_box img {
    width: 2rem;
}

.feed_search_box .feed_request_text {
    margin-left: 1rem;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    transition-duration: 0.3s;
}

.feed_search_box .feed_request_text:hover, .feed_search_box .feed_request_text:focus {
    background: rgba(255, 255, 255, 0.4);
    transition-duration: 0.3s;
}

.feed_body {
    color: white;
    background: linear-gradient(180deg, #323540 0%, #394A5D 100%);
    min-height: 100vh;
}

.feed_body .feed_group_box {
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 90%;
    display: block;
}

.feed_body .feed_group_box .feed_group_unit {
    margin-bottom: 1rem;
    padding: 0.7rem;
    padding-left: 1.2rem;
    background: rgba(255, 255, 255, 0.2);
}

.feed_body .feed_group_box .feed_group_unit .feed_group_name {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.groups_go_to_main {
    margin: 0 auto;
    margin-left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    background: rgba(255 ,255, 255, 0.2);
    display: inline-block;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    transition-duration:  0.3s;
    user-select: none;
}

.groups_go_to_main:hover {
    background: rgba(255 ,255, 255, 0.4);
    transition-duration:  0.3s;
}

